*
{
    box-sizing: border-box;
    font-family: cursive;
}


/*-------------------Gemeenschappelijke code-----------------------------*/
nav
{
    float: right;
}

nav ul 
{
    display: flex;
    
}

nav ul li 
{
    list-style-type: none;
    padding: 50px;
    
}






/*-------------------Home (Ersin)-----------------------------*/





/*-------------------Activiteit (Ersin)-----------------------------*/






/*-------------------Bezienswaardigheden (CAN)-----------------------------*/





/*-------------------Eten  (Ersin)-----------------------------*/





/*-------------------Bereikbaarheid (CAN)-----------------------------*/




/*-------------------Contact  (CAN)-----------------------------*/