*
{
    box-sizing: border-box;
    font-family: cursive;
    margin: 0;
}

body
{
    height: 5cm;
    padding: 0;
  
}

/*-------------------Gemeenschappelijke code -----------------------------*/

/*Navigatie*/
div#container-nav
{
    display: flex;
}


div#header-nav
{
   width: 30%;
   
}

div#nav
{
    text-align: right;
    position: absolute;
    right: 0;
}

nav
{
    background-color: white;
}

nav ul 
{
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}

nav ul li 
{
    list-style-type: none;
    padding: 20px;
    border-radius: 20px;
}

nav ul li a 
{
    text-decoration: none;
    color: black;
}



/*Instagram + Locatie icon positie*/
img#logo
{
    width: 100px;
    margin-left: 100px;   
}

/*Text code*/
#titel
{
    font-size: 35px;
}

p#text-ondertitel
{
    font-size: 20px;
    padding-top: 30px;
}

.rij
{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: nowrap;
    /* justify-items: center;       */
}

.rij > div{
    flex:1;    
}

/*Achtergrond kleur paginas*/
.kleur1
{
    background-color: pink;
}

.kleur2
{
    background-color: aquamarine;
}

.kleur3
{
    background-color: skyblue;
}

h1
{
    padding-top: 90px;
    transform: scale(1);
    transition-timing-function: ease;
    transition-duration: 1.2s;
    transition-delay: 0.24s;
}

.rij > div h1{
    padding-left: 10px;
    text-align: center;
}

.icon
{
    text-align: center;
    margin-bottom: 50px;
}

.rij a{
    padding-left:10px;
}

.rij div p#text{
    text-align: justify;
}

/*Button code*/
button
{
    margin-top: 50px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-weight: bold;
    background-color: white;
    font-size: 15px;
    transition-duration: 0.5s;
}

button:hover
{
    background-color: black ;
    color: white;
    transition-duration: 0.5s;
    width: 170px;
}

button:hover::after
{
    transition-duration: 0.5s;
}

/*Text code p*/
p#text
{
    padding-top: 5%;
    line-height: 210%;
    padding-left: 10%;
    padding-right: 10%; 
}

/*Logo instagram + locatie*/
img#instagram, img#locatie
{
    width: 100%;
    max-width: 30px;
    margin-left: 30px;
    margin-top: 50px;
}

/*-------------------Home code (Ersin)-----------------------------*/
#box
{
    height: 20cm;
}

/*Home pagina code*/
#foto1-home
{
    height: 630px;
    z-index: 1;
    width: 100%;
}

div#grote-text-mid
{
   
    color: white;
    top: 400px;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.651);
}

#titel-foto:hover
{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

div#container-home
{
    display: flex;
}

div#container-home > div.hover-box
{
    flex: 1;
    margin-left: 0.5%;
}

.hover-box
{
    
   justify-content: space-between ;
   transition: transform 0.3s ease;
}

.hover-box:hover
{
    transform: translateY(-190px);
    transition: transform 0.3s ease;
}

img#activiteit-foto, img#Bezienswaardigheden-foto, img#eten-foto
{
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 1; 
}

p#text1-foto, p#text2-foto, p#text3-foto
{
    position: absolute;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

p#text1-foto
{
    padding-left: 140px;
}

p#text2-foto
{
    padding-left: 30px;
    
}
p#text3-foto
{
    padding-left: 180px;
    
}

/*-------------------Activiteit (Ersin)-----------------------------*/
.rij > div img#foto-activiteit{
    height: auto;
    width: 100%;
    max-width: 700px;
    margin-left: 70px;
    border:black 5px solid;
    margin-top:50px;
    
   
}
/*-------------------Bezienswaardigheden (CAN)-----------------------------*/
.rij > div img#foto-bezienswaardigheden{
    height: auto;
    width: 100%;
    max-width: 700px;
    margin-left: 70px;
    border:black 5px solid;
    margin-top:50px;
    
}
/*-------------------Eten  (Ersin)-----------------------------*/
.rij > div img#foto-eten
{
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-left: 70px;
    border:black 5px solid;
    margin-top:50px;
    
}


/*-------------------Contact  (CAN)-----------------------------*/

.footer-basic {
    
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  text-align:center;
  font-size:18px; 
}

.volg{
    padding-bottom: 30px;
    font-size: 20px;
}

.footer-basic li 
{
  padding:0 10px;
  display:inline-block;
}

.footer-basic ul a 
{
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-basic ul a:hover 
{
  opacity:1;
}

.footer-basic .social 
{
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a 
{
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.social-instagram
{
    width: 100%;
}
.footer-basic .social > a:hover 
{
  opacity:0.9;
}

.footer-basic .copyright 
{
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
/*------------------Responsive Website-------------------------*/

@media  only screen and (max-width:1220px)
{
   
    #column-foto, #foto-activiteit
    {
        width: 100%;
    }
 
    #column1, #column-activiteit
    {
        width: 100%;
        
    }
}
@media  only screen and (max-width:900px) and (min-width:600px)
{
    #column-foto, #foto-activiteit
    {
        width: 100%;
    }
    #column1, #column-activiteit
    {
        width: 100%;
    }
   
}

@media  only screen and (max-width:1230px) 
{
    #rij1, #rij2, #rij3, #rij4
    {
        font-size: smaller;
    }
   
}

@media  only screen and (max-width:1089px) 
{
    h1#h1-rij1
    {
        padding-top: 60px;
    }
    
    h1#h1-rij2
    {
        padding-top: 50px;
    }
    
    h1#h1-rij3
    {
        padding-top: 60px;
    }

    button
    {
        margin-top: 20px;
    }
   
}
@media  only screen and (max-width:600px)
{
    div#column1, div#column2-foto, #column-activiteit
    {
        width: 100%;
    }


    div#column-foto, #foto-activiteit
    {
        width: 100%;
        
    }
   
}
