*
{
    box-sizing: border-box;
    font-family: cursive;
    margin: 0;
    
}

body
{
    height: 5cm;
    padding: 0;
    
}
/*-------------------Gemeenschappelijke code (Navigatie)-----------------------------*/
div#container-nav
{
    display: flex;
}
div#header-nav
{
   width: 30%;
   
}

div#nav
{
    text-align: right;
    position: absolute;
    right: 0;
}
nav
{
    background-color: white;
    
}

nav ul 
{
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}

nav ul li 
{
    list-style-type: none;
    padding: 20px;
    border-radius: 20px;
    
    
}

#foto1-home
{
    height: auto;
    z-index: 1;
    width: 100%;
    
}

div#grote-text-mid
{
   
    color: white;
    top: 400px;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.651);
}

#titel-foto:hover
{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

img#logo
{
    width: 100px;
    margin-left: 100px;   
}

#titel
{
    font-size: 35px;
    
}

p#text-ondertitel
{
    font-size: 20px;
    padding-top: 30px;
}



/*-------------------Home (Ersin)-----------------------------*/
div#container-home
{
    display: flex;
    padding-top: -20px;
    width: 35%;
}
#container-home > div
{
    flex: 1;

}
div#foto-column1, div#foto-column2, div#foto-column3
{
    
}

.hover-box
{
    transition: transform 0.3s ease;
    width: 550px;
   justify-content: space-between ;
}

.hover-box:hover
{
    transform: translateY(-120px);
}

img#activiteit-foto, img#Bezienswaardigheden-foto, img#eten-foto
{
    width: 550px;
    
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 1;

    
}

p#text1-foto, p#text2-foto, p#text3-foto
{
    position: absolute;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    
}

p#text1-foto
{
    padding-left: 140px;
}

p#text2-foto
{
    padding-left: 30px;
    
}
p#text3-foto
{
    padding-left: 180px;
    
}




/*-------------------Activiteit (Ersin)-----------------------------*/






/*-------------------Bezienswaardigheden (CAN)-----------------------------*/





/*-------------------Eten  (Ersin)-----------------------------*/
div#header
{
   
}
img#foto-eten
{
    width: 100%;
    height: 820px;
    
}

div#container-eten
{
    margin-left: 12cm;
    margin-right: 12cm;
    height: 60cm;
    margin-top: 2cm;
}

img#eten3
{
    width: 100%;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#text-eten
{
    padding-top: 20px;
}

#card
{
   
    border-radius: 10px;
    
    margin: 20px;
    height: 2cm;
    max-width: 340px;
    margin: auto;
    border-style: solid ;
    
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  
  transition: 0.3s;
 
  
}
/*-------------------Bereikbaarheid (CAN)-----------------------------*/




/*-------------------Contact  (CAN)-----------------------------*/